# Top-3 earners in each department


```sql
SELECT 
    d.name AS department, 
    e.name AS employee, 
    e.salary AS salary 
FROM (
    SELECT *, 
        DENSE_RANK() OVER (
            PARTITION BY dept_id  
            ORDER BY salary DESC 
        ) AS 'ranking'
    FROM employee 
) AS e 
JOIN department AS d 
    ON d.id = e.dept_id 
WHERE e.ranking <= 3 
```

# Top earner in each department 

```sql
SELECT 
    department, 
    salary,
    ROW_NUMBER() OVER (
        PARTITION BY department
        ORDER BY salary DESC 
    ) AS ranking 
FROM employee 
WHERE ranking = 1 
```

# Delete all duplicate rows from the table 

```sql
SELECT * 
FROM (
    SELECT *,
        ROW_NUMBER() OVER (
            PARTITION BY *
        ) as rn 
    FROM 
        my_table_name
) AS x 
WHERE x.rn = 1 
```